body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #eeeeee;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

#results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#results p {
    background-color: #1e1e1e;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border-left: 5px solid #3f51b5;
}

#results p::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #333;
    margin: 10px 0;
}
