@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1f1f1f;
    color: #f5f5f5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

header {
    text-align: center;
    padding: 50px 0;
}

.name {
    font-size: 2.5em;
}

.title {
    font-size: 1.5em;
    color: #66ff00;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

nav ul li a:hover,
.project-link:hover {
    color: #66ff00;
}

.projects {
    margin-top: 50px;
}

.projects h3 {
    color: #f5f5f5;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project {
    background-color: #333333;
    border-radius: 15px;
    overflow: hidden;
    width: calc(33.33% - 20px);
}

.project-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.project-img {
    height: 200px;
    background-color: #4f4f4f;
}

.project-title {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #66ff00;
}

@media only screen and (max-width: 992px) {
    .project {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .project {
        width: 100%;
    }
}
