@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #5e3a81, #9c57cc);
    color: #f0f0f0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
}

nav ul li a:hover,
.projects li a:hover {
    color: #9c57cc;
}

header {
    text-align: center;
    padding: 50px 0;
}

.name {
    font-size: 2.5em;
}

.title {
    font-size: 1.5em;
    color: #9c57cc;
}

.projects {
    margin-top: 50px;
}

.projects h3 {
    color: #f0f0f0;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects li {
    background: #5e3a81;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    transition: 0.3s all ease-in-out;
}

.projects li:hover {
    background: #9c57cc;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #9c57cc;
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
