@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
    display: flex;
}

#sidebar {
    background-color: #424242;
    width: 300px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

#sidebar h1 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    border-bottom: 1px solid #616161;
    padding: 0.5rem 0;
}

#sidebar li:last-child {
    border-bottom: none;
}

#chart-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%; 
}

#node-chart {
    height: 50%; 
    width: 50%; 
    max-height: 600px; 
    max-width: 600px; 
}
